@CHARSET "utf-8";
body {
	padding:0px;
	margin:0px;
	text-align: center;
	font-family:'微软雅黑',Trebuchet MS,Verdana,Helvetica,Arial,sans-serif;
}
.page{
	padding:5px;	
}

#ichart-main{
	width:1000px;
	margin:0px auto;
}
#ichart-header{
	height:150px;
}
#ichart-header-top{
	position:relative;
	height:95px;
	background:url(../images/ichart_top_bg.png);
	background-repeat:repeat-y;	
}

#ichart-header-line{
	height:5px;
	background:url(../images/ichart_menu_line.png);
	background-repeat:no-repeat;	
}
#ichart-header-logo{
	width:370px;
	height:95px;
	background:url(../images/ichart_logo.png);
	background-repeat:no-repeat;
}
#ichart-header-description{
	position: absolute;
	bottom:10px;
	right:10px;	
	color:#2b313a;
	font-size:14px;
}
#ichart-header-language{
	position: absolute;
	top:10px;
	right:10px;	
	font-size:12px;
}

#ichart-header-language a:LINK{
	color:#3e526f;
}
#ichart-header-language a:VISITED{
	color:#3e526f;
}
#ichart-header-language a:HOVER{
	color:#567095;
}
#ichart-header-language a:ACTIVE{
	color:#567095;
}

#ichart-header-menu{
	width:980px;
	height:50px;
	margin:0px auto;
	height:50px;
	background-color:#2c2d2e;
	border-bottom: 1px solid #838484;
	border-left:  1px solid #838484;
	border-right:  1px solid #838484;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-khtml-border-radius-bottomleft:8px;
	-khtml-border-radius-bottomright:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px; 
	-webkit-box-shadow:0px 1px 2px #26303e;
	-moz-box-shadow:0px 1px 2px #26303e;
	box-shadow:0px 1px 2px #26303e;
}
.ichart-header-menu-item{
	width:192px;
	height:48px;
	float:left;
	text-align: left;
}
.ichart-header-menu-item-separator{
	width:4px;
	height:48px;
	float:left;
	background:url(../images/ichart_menu_s_line.png);
	background-repeat:repeat-y;	
}
.ichart-header-menu-icon{
	width:30px;
	height:30px;
	margin:10px 6px;
	float:left;
	background-repeat: no-repeat;
	background:url(../images/ichart_menu_icon.png);
	background-repeat:no-repeat;
}

.ichart-menu-home{
	background-position: 0px 0px;	
}
.ichart-menu-doc{
	background-position: -30px 0px;	
}
.ichart-menu-tutorial{
	background-position: -60px 0px;	
}
.ichart-menu-joinus{
	background-position: -90px 0px;	
}
.ichart-menu-about{
	background-position: -120px 0px;	
}
.ichart-menu-title{
	float:left;
	height:48px;
	cursor:pointer;
	font-weight:600;
}
.ichart-menu-title-sub{
	height:20px;
	color:#cfcfcf;
	margin-top:4px;
	font-size:16px;
	line-height:25px;
}
.ichart-menu-title-desc{
	height:20px;
	margin-bottom:4px;
	color:#6f6f6f;
	font-size:12px;
	line-height:20px;
}
.ichart-menu-hover{
	color:#6b9b00;
	text-shadow:0px 2px 2px #121417;
}
.ichart-menu-now{
	color:#6b9b00;
	text-shadow:0px 2px 2px #121417;
}
#ichart-content{
	width:980px;
	margin:0px auto;
}
#ichart-content-one{
	margin:15px 0px;
	height:240px;
}
#ichart-info{
	width:620px;
	height:240px;
	float:left;
	text-align:left;
	
}
#ichart-info-separator{
	width:5px;
	height:240px;
	float:left;
	background:url(../images/ichart_info_separator.png);
	background-repeat:no-repeat;	
}
#ichart-info-what{
	padding:0px 20px;
	height:50px;
	color:#154b79;
	font-size:42px;
	line-height:50px;
	font-weight:500;
	text-shadow:0px 1px 1px #0f436f;
}
.ichart-content-desc{
	color:#303030;
	padding:0px 20px;
	text-indent: 20px;
	line-height: 24px;
}
#ichart-info-btns{
	margin-top:10px;
	height:50px;
	position:relative;
}
.ichart-info-btn{
	position:absolute;
	height:33px;
	line-height:33px;
	text-align:center;
	font-size:13px;
	font-weight:600;
	width:100px;
	cursor:pointer;
	text-shadow:0px 1px 1px #4f799c;
	background:url(../images/ichart_info_btn_bg.png);
	background-repeat:no-repeat;
}
.ichart-info-btn a{
	text-decoration: none;
}
#ichart-info-download{
	right:260px;
	top:5px;
	background-position: 0px 0px;	
}
#ichart-info-download a:LINK{
	color:#FEFEFE;
}
#ichart-info-download a:VISITED{
	color:#FEFEFE;
}
#ichart-info-download a:HOVER{
	color:#313e4f;
}
#ichart-info-download a:ACTIVE{
	color:#3b5576;
}
#ichart-info-learn{
	right:140px;
	top:5px;
	background-position: 0px -33px;	
}
#ichart-info-learn a:LINK{
	color:#2a3646;
}
#ichart-info-learn a:VISITED{
	color:#2a3646;
}
#ichart-info-learn a:HOVER{
	color:#2a651a;
}
#ichart-info-learn a:ACTIVE{
	color:#377f23;
}
#ichart-info-source{
	right:20px;
	top:5px;
	background-position: 0px -66px;	
}

#ichart-info-source a:LINK{
	color:#2d641d;
}
#ichart-info-source a:VISITED{
	color:#2d641d;
}
#ichart-info-source a:HOVER{
	color:#2a3646;
}
#ichart-info-source a:ACTIVE{
	color:#3b5576;
}

#ichart-info-browser{
	width:360px;
	height:240px;
	float:left;
	background:url(../images/ichart_info_browser.png);
	background-repeat:no-repeat;	
}

.ichart-separator-line{
	width:980px;
	margin:0px auto;
	height:0px;
	border-top:1px solid #f9f9f9;
	border-bottom:1px solid #cacaca;
}

#ichart-content-two{
	margin:15px 0px;
	height:240px;
}
.ichart-feature{
	width:326px;
	height:240px;
	float:left;
}
.ichart-feature-title{
	height:50px;
}
.ichart-feature-keyword-icon{
	float:left;
	width:50px;
	height:50px;
	background:url(../images/ichart_fetures_bg.png);
	background-repeat:no-repeat;
}
#ichart-feature-keyword-fast{
	background-position: 0px 0px;	
}
#ichart-feature-keyword-light{
	background-position: -50px 0px;	
}
#ichart-feature-keyword-browser{
	background-position: -100px 0px;	
}
.ichart-feature-keyword{
	padding:0px 12px;
	height:50px;
	color:#154b79;
	float:left;
	font-size:24px;
	line-height:50px;
	font-weight:500;
	text-shadow:0px 1px 1px #0f436f;
}
.ichart-feature-desc{
	text-align:left;
	padding-right:10px;
	color:#242932;
	text-indent: 20px;
	line-height: 24px;
}

#ichart-content-three{
	height:250px;
}
.ichart-preview{
	margin-top:16px;
	float:left;
	width:326px;
	height:102px;
	cursor: pointer;
}
.ichart-preview-hover{
	width:324px;
	height:100px;
	border: 1px solid #838484;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-bottom-radius:2px;
	-webkit-box-shadow:0px 1px 3px #26303e;
	-moz-box-shadow:0px 1px 3px #26303e;
	background-color:#f7f7f7;
	box-shadow:0px 1px 2px #26303e;
}
.ichart-preview-image{
	float:left;
	width:130px;
	height:100px;
}
.ichart-preview-content{
	float:left;
	margin:0px 5px;
	width:182px;
	height:100px;
}
.ichart-preview-title{
	padding-left:5px;
	height:20px;
	text-align:left;
	color:#154b79;
	font-size:13px;
	line-height:20px;
	font-weight:600;
}
.ichart-preview-desc{
	font-size:13px;
	text-align:left;
}

#ichart-footer{
	width:1000px;
	height:90px;
	line-height:90px;
	text-align:center;
	font-size:12px;
	margin:0px auto;
	background:url(../images/ichart_footer_bg.png);
	background-repeat:repeat-x;	
}


